@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.LoaderMask {
  width: 100%;
  height: 100%;
  background: #cccccca3;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.LoaderMask:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 0.8s infinite;
}

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ItemWrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.ItemsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
}

.action_buttons_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px 10px 0;
  gap: 20px;
}

.action_btn_clear {
  background: linear-gradient(94deg, #f2d099 9.58%, #c6986a 106.37%);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
}

.action_btn_clear_text {
  color: #000;
  font-size: 1rem;
  white-space: nowrap;
  user-select: none;
}
.action_btn_clear:hover {
  background-color: #abad98;
  transform: scale(1.02);
  transition: 250ms;
}
.action_btn_clear:active {
  transform: scale(1);
  background-color: #000000;
  color: #ffffff;
  transition: 250ms;
}

.CartBody {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  gap: 20px;
  padding: 20px;
}

.CartBody::-webkit-scrollbar {
  width: 5px;
}

.PopupBtnsDivider {
  width: 100%;
  height: 110px;
  background-color: var(--backgroundPrimary);
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  border: 1px solid #e5e2d9;
  gap: 30px;
  /* border-radius: 30px; */
}

.ProductItemWrapper {
  width: 100%;
  height: 200px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e2d9;
}

.product_img {
  min-width: 180px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  /* border-radius: 30px; */
}

.loader_img {
  min-width: 180px;
  /* border-radius: 30px; */
}

.product_details_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

.product_title_description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.product_title_description_wrapper > a {
  padding: 0;
}

.product_title_description_wrapper > a > h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

.price_sperator_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.old_new_price_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.old_price {
  text-decoration: line-through;
  font-size: 0.8rem;
  color: #949494;
}

.total_price_wrapper {
  font-size: 1.5rem;
}

.total_price_wrapper {
  font-size: 1.5rem;
}

.rating_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.review_star {
  width: 12px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.review_text {
  font-size: 12px;
  color: #484848;
}

.artical_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.artical_wrapper > span {
  font-size: 0.8rem;
}

/* global 1 */
@media (min-width: 100px) and (max-width: 1024px) {
  .ProductItemWrapper {
    flex-direction: column;
    height: unset;
    max-height: unset;
  }

  .product_img {
    width: 100%;
    height: 100%;
    min-width: unset;
    min-height: unset;
  }

  .ItemsWrapper {
    padding: 0;
    max-width: unset;
    width: 95%;
  }
  .CartBody {
    height: unset;
    overflow: hidden;
    padding: 0;
  }
  .PopupBtnsDivider {
    padding: 0;
  }
}

/* global 2 */
@media (min-width: 440px) and (max-width: 1024px) {
  .action_buttons_wrapper {
    justify-content: flex-start;
  }
}

/* global 3 */
@media (min-width: 100px) and (max-width: 440px) {
  .action_buttons_wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .product_details_wrapper {
    gap: 10px;
  }
  .price_sperator_wrapper {
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
  }
}

/* laptopL */
@media (min-width: 1240px) and (max-width: 1550px) {
  .ItemsWrapper {
    max-width: 1230px;
  }
}
/* laptopM */
@media (min-width: 1024px) and (max-width: 1240px) {
  .ItemsWrapper {
    max-width: unset;
  }
}
