.ProductItemWrapper {
  width: 100%;
  height: 200px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e2d9;
}

.product_img {
  min-width: 180px;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.product_details_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

.product_title_description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.product_title_description_wrapper > a {
  padding: 0;
}

.product_title_description_wrapper > a > h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

.price_sperator_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.old_new_price_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.old_price {
  text-decoration: line-through;
  font-size: 0.8rem;
  color: #949494;
}

.total_price_wrapper {
  font-size: 1.5rem;
}

.rating_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.total_price_wrapper {
  font-size: 1.5rem;
}

.action_buttons_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px 10px 0;
  gap: 20px;
}

.review_star {
  width: 12px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.review_text {
  font-size: 12px;
  color: #484848;
}

.artical_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.artical_wrapper > span {
  font-size: 0.8rem;
}

.artical_data_wrapper {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.artical_variant_selector {
  min-width: 60px;
  border: 1px solid #00000029;
  padding: 2px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  color: #000;
  position: relative;
  overflow: hidden;
}

.NotInStockWrapper {
  width: 100%;
  height: 100%;
  background-color: #f4f4f440;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.NotInStockLineThrough {
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: rotate(-25deg);
}

.image_n_mobile_action_btn_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.action_buttons_wrapper_mobile {
  display: none;
}
/* global 1 */
@media (min-width: 100px) and (max-width: 1024px) {
  .ProductItemWrapper {
    flex-direction: row;
    height: unset;
    max-height: unset;
    background-color: var(--productCart);
    border-radius: 30px;
  }

  .product_img {
    width: 120px;
    height: 120px;
    min-width: unset;
    min-height: unset;
    border-radius: 15px;
  }
  .PopupBtnsDivider {
    padding: 0;
  }
  .action_buttons_wrapper_mobile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  .action_buttons_wrapper {
    display: none;
  }

  .product_title_description_wrapper > a > h1 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .artical_data_wrapper {
    column-gap: 5px;
  }
}

/* global 2 */
@media (min-width: 440px) and (max-width: 1024px) {
  .action_buttons_wrapper {
    justify-content: flex-start;
  }
}

/* global 3 */
@media (min-width: 100px) and (max-width: 440px) {
  .action_buttons_wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .product_details_wrapper {
    gap: 10px;
  }
  .price_sperator_wrapper {
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
  }
}

/* global 4 */
@media (min-width: 370px) and (max-width: 1024px) {
  .artical_data_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* global 5 */
@media (min-width: 100px) and (max-width: 370px) {
  .artical_data_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
